<form method="post" action="{{ path('sala_delete', {'id': sala.id}) }}" onsubmit="return confirm('Estas seguro que deseas eliminar la sala?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sala.id) }}">
    <a title="Eliminar" href="#" onclick="$(this).parent().submit();"><span class="fa fa-trash"></span></a>
</form>