
{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class=" form ">
                <section class="login_content">
                    <h1>Editar Paciente</h1>
                    {{ include('paciente/_form.html.twig') }}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('.selectpicker').selectpicker();

    </script>
{% endblock %}