{% extends 'base.html.twig' %}


{% block content %}
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class=" form ">
                <section class="login_content">
                    <h1>Insertar Area</h1>
                    {{ include('area_salud/_form.html.twig') }}
                </section>
            </div>
        </div>
    </div>
{% endblock %}
