<form method="post" action="{{ path('estado_cama_delete', {'id': estado_cama.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estado_cama.id) }}">
    <button class="btn">Delete</button>
</form>
