{% extends 'base.html.twig' %}

{% block title %}New Notificacion{% endblock %}

{% block body %}
    <h1>Create new Notificacion</h1>

    {{ include('notificacion/_form.html.twig') }}

    <a href="{{ path('notificacion_index') }}">back to list</a>
{% endblock %}
