<form method="post" action="{{ path('cama_delete', {'id': cama.id}) }}" onsubmit="return confirm('Estas seguro que deseas eliminar la cama?');" style="display: inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cama.id) }}">
    <a title="Eliminar" href="#" onclick="$(this).parent().submit();"><span class="fa fa-trash"></span></a>
</form>